.breadcrum {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 60px 170px;
    text-transform: capitalize;
}

@media (max-width: 768px) {
    .breadcrum {
        margin: 20px 20px;
        font-size: 14px;
        gap: 6px;
    }
}

@media (max-width: 480px) {
    .breadcrum {
        margin: 20px 20px;
        font-size: 12px;
        gap: 4px;
    }
}
