.new-collections {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
  margin-bottom: 50px;
}

.new-collections h1{
    color: #171717;
    font-size: 50px;
    font-weight: 300;
}
.new-collections hr{
    width: 200px;
    height: 2px;
    border-radius: 10px;
    background: #252525;
    margin-bottom: 50px;
}
.new-collections-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 10px;
  }
  
  @media (min-width: 600px) {
    .new-collections {
      margin-bottom: 50px;
    }
    .new-collections-items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .new-collections-items {
      grid-template-columns: repeat(4, 1fr);
    }
  }